.er-icon {
	--er-icon-color: inherit;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	position: relative;
	fill: currentColor;
	color: var(--er-icon-color);
	font-size: inherit;
}

@each $val in primary, success, warning, danger, info {
	.er-icon--$(val) {
		--er-icon-color: var(--er-color-$(val));
	}
}
